ZERNIO_API_KEY=
ZERNIO_ACCOUNT_ID=
LAST30DAYS_COMMAND=
APPROVAL_PILAR=human
APPROVAL_PESQUISA=human
APPROVAL_EXECUCAO=human
APPROVAL_CRUZAMENTO=human
APPROVAL_IDEACAO=human
APPROVAL_ESCRITA=human
APPROVAL_REFINAMENTO=human
APPROVAL_VALIDACAO=human
APPROVAL_PUBLICACAO=human
